<%= form_for(@plano) do |f| %>
  <% if @plano.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@plano.errors.count, "error") %> prohibited this plano from being saved:</h2>

      <ul>
      <% @plano.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    <%= f.label :horaDiaUtil %><br>
    <%= f.text_field :horaDiaUtil %>
  </div>
  <div class="field">
    <%= f.label :horaDiaFds %><br>
    <%= f.text_field :horaDiaFds %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
