<h1>Listing planos</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Horadiautil</th>
      <th>Horadiafds</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @planos.each do |plano| %>
      <tr>
        <td><%= plano.nome %></td>
        <td><%= plano.horaDiaUtil %></td>
        <td><%= plano.horaDiaFds %></td>
        <td><%= link_to 'Show', plano %></td>
        <td><%= link_to 'Edit', edit_plano_path(plano) %></td>
        <td><%= link_to 'Destroy', plano, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Plano', new_plano_path %>
